input[type=text] {
	/*border: 1px solid black;*/
	background: none;
	border: none;
	/* border-bottom: 1.5px solid black; */
	margin: 5px;
	width: 50%;
	min-width: 60px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1.5px solid #090909;
}

body {
	background-color: #4CAF50;
	/* background: linear-gradient(#457fca	, #5691c8); */
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #090909;
}

h1 {
	font-size: 26px;
	margin: 5px;
	padding: 5px 0px 20px 0px; 
	text-align: center;
	font-family: Roboto;
}

h2 {
	font-size: 26px;
	margin: 5px;
	padding: 10px 0px 10px 0px; 
	text-align: center;
	font-family: Roboto;
}

h3 {
	/* color: black; */
	font-family: Roboto;
	font-size: 16px;
	line-height: 20px;
	margin: 5px;
	/*text-align: center;*/
}

p {
	font-size: 12px;
	font-family: "Roboto";
	margin: 0px;
}

.elementInput {
	margin: 5px 0px;
	padding-top: 5px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
	width: 24%;
	min-width: 150px;
	height: 50px;
}

input[type=text]:hover {
	/* background: wheat; */
}

input[type=text]:focus {
	/* background: wheat; */
	outline: none;
}

.elementStatus {
	display: none;
	box-shadow: none;
	padding: 0px;
	padding-bottom: 10px;
    margin: 5px;
    min-height: 5px;
}

.comments {
	background-color: white;
	/*border: 1px solid black;*/
	margin: 10px;
	outline: none;
	padding: 15px 15px;
	font-size: 16px;
	font-family: "Roboto";
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	min-height: 50px;
}

.section1 {
	padding-top: 10px;
	text-align: center;
}

.section2 {
	padding-right: 20px;
	padding-left: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: Roboto;
	font-size: 18px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.section3 {
	background-color: white;
	border-radius: 5px;
	margin: 5px 50px 10px 50px;
	padding: 0px 15px 5px 15px;
	font-size: 30px;
}

.section4 {
	text-align: center;
	height: 30px;
	margin-bottom: 30px;
}

.section5 {
	text-align: center;
	height: 30px;
	margin-bottom: 20px;
	padding-top: 20px;
}

.section6 {
	text-align: center;
	height: 300px;
	margin-bottom: 20px;
	padding-top: 20px;
}

input[type=button] {
	min-width: 200px;
	background-color: #008CBA; 
	/* background-color: none; */
    /* color: black; */
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    cursor: pointer;
    font-size: 18px;
}

input[type=button]:hover {
	background-color: lightgray;
	cursor: pointer;
	/* transform: scale(1.01); */
	/* border-bottom: 2px solid black; */
}

.processButtons {
	padding-bottom: 10px;
	overflow: hidden;
	height: 30px;

}

.button {
	min-width: 190px;
    padding: 8px 10px;
	/* margin: 10px 10px 10px 10px; */
	margin-left: auto;
	margin-right: auto;
	border: none;
    cursor: pointer;
	font-size: 18px;
	background: #43A047;
	align: center;
	color: #fff;
}

.button:hover {
	/* border-bottom: 2px solid black; */
	cursor: pointer;
	transform: scale(1.01); 
}

.guide-button {
	min-width: 150px;
	display: block;
}

.rightButton {
	margin-left: 50px;
}

.demoButton {
	min-width: 120px;
	margin-left: 180px;
	width: 120px;
	font-size: 14px;
	margin-top: 5px;
}

#varICheckbox:hover {
	cursor: pointer;
}

.article {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	/* background-color: white; */
	padding-top: 1px;
	min-width: 850px;
}

.container {
	background-color: #F9F9F9;
	/* border: 5px solid black; */
	/* border-radius: 10px; */
	margin-left: auto;
	margin-right: auto;
	min-width: 850px;
	max-width: 850px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 30px; 
	margin-top: 30px;
}

.userarea {
	/* background-color: lightblue; */
	padding-top: 25px;
	padding-bottom: 5px;
	border-radius: 25px;
	text-align: center;
}

.image {
    /* border-radius: 4px; */
	margin: 25px 30px 20px 25px;
	text-align: right;	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;

}

.row {
	margin: 0px 30px;
}

#byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }

  /* #guideBox {
	display: none;
	margin-top: 20px;
}   */

  .guideBox {
	/* margin-top: 20px; */
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	font-size: 1px;
	background-color: gainsboro;
	/* border: 2px solid black; */
	
}

.guideText {
	padding: 10px 0px 10px 0px;
	text-align: left;
}

li {
	padding: 0px 0px 0px 20px;
	font-size: 14px;
	margin: 3px;
}

ul {
	padding: 0px 10px 0px 20px;
}

.navElement {
	/* overflow: hidden; */
	min-width: 850px;
	width: 100%;
	height: 50px;
	display: inline-block;
	/* margin-left: auto;
	margin-right: auto; */
	/* padding-top: 20px; */
	background-color: gainsboro;
}

.navElement a {
	width: 33.01%;
	height: 50px;
	/* color: black; */
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	line-height: 50px;
	font-weight: bold;
	color: #090909;
	background-color: gainsboro;
}

.navElement a:hover {
	background-color: #F9F9F9;
	/* border-bottom: 2px solid #090909; */
	text-decoration: underline;
	cursor: pointer;
}

.navElement a.active {
	/* border-bottom: 2px solid #090909; */
	background: #F9F9F9;
}

	/* Customize the label (the container) */
.checkContainer {
	display: inline-block;
	position: relative;
	margin-bottom: 12px;
	/* margin-left: auto;
	margin-right: auto; */
	cursor: pointer;
	width: 300px;
	/* padding-right: 20px; */
	font-size: 15px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 5px;
  }

  .smallerContainer {
	  width: 200px;
  }
  
  /* Hide the browser's default checkbox */
  .checkContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: gainsboro;
  }
  
  /* On mouse-over, add a grey background color */
  .checkContainer:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkContainer input:checked ~ .checkmark {
	background-color: gainsboro;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .checkContainer input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkContainer .checkmark:after {
	left: 14px;
	top: 2px;
	width: 5px;
	height: 16px;
	padding-top: 2px;
	border: solid #090909;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }